DOMAIN=localhost
API_PREFIX=/fast-api-starter-template
FRONTEND_URL=http://localhost:4200
ENVIRONMENT=development
PROJECT_NAME="Fast API Starter Template"
VERSION="0.1.0"
BACKEND_CORS_ORIGINS="http://localhost,http://localhost:4200,https://localhost,https://localhost:4200"
SECRET_KEY=changethis
TOKEN_ALGORITHM=HS256
ADMIN_USER=admin@example.com
ADMIN_PASSWORD=changethis

# Postgres
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=nutri
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SCHEME=postgresql+psycopg
POSTGRES_URL=postgresql+psycopg://postgres:postgres@localhost:5432/nutri
